---
layout: default
title: Home
---

<p>Finally starting a blog - let's see if it's compatible with newborns!</p>

<p>More content in winter 2017</p>

<hr />

<div class="posts">
  {% for post in paginator.posts %}
  <article>
    <a style="position: relative" href="{{ site.baseurl }}{{ post.url }}">
      {% if post.img %}
      <img class="post-image" src="/img/{{ post.img }}" />
      {% endif %}
      <h1 class="title{% if post.img %} title-with-img{% endif %}">
        {{ post.title }}
      </h1>
    </a>

    <div class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
      {% if post.categories != empty %}
        in
        <a href="/{{ post.categories }}">{{ post.categories }}</a>
      {% endif %}
    </div>

    {{ post.excerpt }}

    <a href="{{ site.baseurl }}{{ post.url }}">Continue reading &rArr;</a>
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
