/* Duplication between this and the non-critical theme files has been removed,
 * which makes things weird from an implementation/maintenance perspective,
 * but good from a UX perspective since there is no opportunity for rendering
 * jitter
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: #268bd2;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

code,
pre {
  font-family: Menlo,Monaco,"Courier New",monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

.container {
  max-width: 38rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

article {
  margin-bottom: 4em;
}

article li+li {
  margin-top: .25rem;
}

.title,
.title a {
  color: #303030;
  margin-top: 0;
}

.post-meta {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 3.25rem;
}

/* Sidebar nav */
.sidebar-nav-item.active {
  font-weight: bold;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
  }
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.content {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

.sidebar {
  background-color: #b9c9d0;
}

.sidebar-about h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2.25rem;
}

.social-links svg {
  height: 1.5rem;
  fill: rgba(255,255,255,.9);
}

@media (min-width: 64em) {
  .content {
    margin-left: 20rem;
    margin-right: 4rem;
  }

  .social-links svg {
    height: 1.7rem;
  }
}

@media (min-width: 48em) {
  .sidebar {
    width: 16rem;
  }

  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

.inline-list {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.inline-list li {
  float: left;
  padding-right: 20px;
}
.inline-list li:last-child {
  padding-right: 0px;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
