{% assign homeurl = site.baseurl | append: "/" %}
<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ homeurl }}" title="Home">{{ site.title }}</a></h1>
      <nav class="sidebar-nav lead">
        {% assign sections = "bikes,soil,tech,etc" | split: ',' %}
        {% for section in sections %}
          <a class="sidebar-nav-item{% if page.category == section %} active{% endif %}"
            href="/{{ section }}">
            {{ section }}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
      </nav>
      <p>{{ site.tagline }}</p>
    </div>

    <ul class="social-links inline-list">
      <li>
        <a href="https://github.com/woahdae">
          {% include icons/github.svg %}
        </a>
      </li>
      <li>
        <a href="https://stackoverflow.com/users/248501/woahdae">
          {% include icons/stack-overflow.svg %}
        </a>
      </li>
      <li>
        <a href="https://twitter.com/woahdae">
          {% include icons/twitter.svg %}
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/earthling104b/">
          {% include icons/instagram.svg %}
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/woody-peterson">
          {% include icons/linkedin.svg %}
        </a>
      </li>
    </ul>
  </div>
</aside>
