{% assign homeurl = site.baseurl | append: "/" %}
<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ homeurl }}" title="Home">{{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == homeurl %} active{% endif %}" href="{{ homeurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% for node in site.pages %}
        {% if node.title != null and node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>

    <ul class="social-links inline-list">
      <li>
        <a href="https://github.com/woahdae">
          {% include icons/github.svg %}
        </a>
      </li>
      <li>
        <a href="https://stackoverflow.com/users/248501/woahdae">
          {% include icons/stack-overflow.svg %}
        </a>
      </li>
      <li>
        <a href="https://twitter.com/woahdae">
          {% include icons/twitter.svg %}
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/earthling104b/">
          {% include icons/instagram.svg %}
        </a>
      </li>
    </ul>
  </div>
</aside>
